@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  letter-spacing: -0.06em;
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "Avenir Heavy";
  src: url(../fonts/AvenirLTStd-Heavy.otf);
}
