@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  letter-spacing: -0.06em;
}

@font-face {
  font-family: "Avenir";
  src: url(../fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "Avenir Heavy";
  src: url(../fonts/AvenirLTStd-Heavy.otf);
}

.animate-timeline-view-\[80\%_0\%\] {
  animation-timeline: view(80% 0%);
}

.animate-timeline-view-\[65\%_0\%\] {
  animation-timeline: view(65% 0%);
}

.animate-timeline-view-\[60\%_0\%\] {
  animation-timeline: view(60% 0%);
}
